*{
	margin: 0;
	padding: 0;
	font-size: .14rem;
	font-family: "arial, helvetica, sans-serif";
}
img{
	width: 100%;
}
a{
	text-decoration: none;
	color: #727272;
}
.container{
	width: 100%;
}
header{
	background: #fff;
	width: 100%;
	height: .9rem;
	position: fixed;
	top: 0;
	z-index: 11;
	box-shadow: 0 3px 16px rgba(0, 0, 0, 0.08);
}
header .logo{
	width: 1.8rem;
	margin: .15rem 0;
	float: left;
}
header nav{
	font-size: 0;
	margin-left: 3rem;
}
header nav a{
	font-size: .18rem;
	width: 1.5rem;
	height: 0.9rem;
	line-height: .9rem;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
}
header nav a.active{
	color:#fff;
	background: #000;
}
header nav a:hover{
	color:#fff;
	background: #000;
}
.container .banner{
	width: 100%;
}
.content{
	margin-top: 0.9rem;
}
.container .mainContainer{
	width: 12rem;
	margin: 0 auto;
	padding-top: .5rem;
}
.container h2{
	font-family: 'Montserrat', sans-serif;
	font-size: .3rem;
	color: #323232;
	line-height: .6rem;
	text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.26);
	padding: .1rem .3rem;
	position: relative;	
}
.container h2:before{
	content: '';
	display: block;
	width: 2rem;
	height: 2px;
	border-top: solid #dadada 2px;
	position: absolute;
	left: 0;
}
.container h2:after{
	content: '';
	display: block;
	width: 2rem;
	height: 2px;
	border-top: solid #dadada 2px;
	position: absolute;
	bottom: 0;
	left: 2rem;
}
.container .goodList {
	padding: .2rem 0;
}
.goodList .goodItem{
	width: 24%;
	font-size: 0;
	float: left;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.07);
	border-radius: 0.03rem;
	border: .01rem solid #E6E6E6;
	margin-right: 1%;
	padding: 0.18rem 0;
}
.goodList .goodItem:nth-child(4n+4){
	margin-right: 0;
}
.goodItem img{
	width: 90%;
	display: block;
	margin: 0 auto;
}
.goodItem img:hover{
	transform: scale(1.06);
	transition: all 0.5s ease-in-out;
}
.goodItem .button{
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: .2rem;
	width: 1rem;
	height: .3rem;
	line-height: .3rem;
	background: #000000;
	color: #fff;
	cursor: pointer;
	border: none;
}
footer{
	background: rgb(60,61,66);
	color: #fff;
	margin-top: 1rem;
}
footer .footList{
	margin: 0 auto;
    width: 6rem;
}
footer .footItem{
	padding: .5rem 0;
	width: 3rem;
	float: left;
	text-align: center;
}
.footItem .itemName{
	font-size: .2rem;
    margin-bottom: .2rem;
}
.clearfloat:after{
	content: "";
	display: block;
	overflow: hidden;
	height: 0;
	clear: both;
}
.footItem img{
	width: .6rem;
}
.footerContent{
	width: 12rem;
	margin: 0 auto;
}
/*details.css*/
.mainContainer .leftDiv{
	float: left;
	width: 40%;
}
.mainContainer .swiper-container{
	float: left;
	width: 54%;
	box-sizing: border-box;
	margin-left: 4%;
}
.leftDiv .title{
	font-size: .28rem;
}
.leftDiv .des{
	margin-top: .4rem;
}
.leftDiv .des p{
	font-size: .16rem;
    line-height: .2rem;
}
/*details.css*/
/*about.css*/
.aboutContent{
	text-align: center;
	margin-bottom: 1rem;
}
.aboutContent h2{
	width: 3rem;
	height: .8rem;
    line-height: .8rem;
    margin: 0 auto;
    margin-bottom: .4rem;
}
.aboutContent p{
	width: 8rem;
	line-height: .35rem;
	margin: 0 auto;
	font-size: .2rem;
	text-align: left;
}
/*about.css*/